<?xml version="1.0" encoding="UTF-8"?>    
<configuration status="error">    
  <appenders>    
    <Console name="Console" target="SYSTEM_OUT">    
      <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>    
      <PatternLayout pattern="%d{HH:mm:ss.SSS}|%-5level|%class{36}|%L|%M|%msg%xEx%n"/>    
    </Console>    
    <File name="filelog" fileName="logs/test.log" append="false">    
      <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>    
    </File>    
    <RollingFile name="RollingFile" fileName="logs/app1.log"    
                 filePattern="logs/$${date:yyyyMM}/app-%d{yyyyMMdd}-%i.log.zip">    
      <PatternLayout pattern="%d{yyyy.MM.dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>    
      <SizeBasedTriggeringPolicy size="10 MB" />    
    </RollingFile>  
    <JDBC name="MysqlAppender" tableName="application_log">
      <ConnectionFactory class="jimmy.commons.ConnectionFactory" method="getMysqlConnection" />
      <Column name="EVENT_ID" literal="nextval('logid')" />
      <Column name="EVENT_DATE" isEventTimestamp="true" />
      <Column name="LEVEL" pattern="%level" />
      <Column name="LOGGER" pattern="%logger|%M" />
      <Column name="MESSAGE" pattern="%message" />
      <Column name="THROWABLE" pattern="%ex{full}" />
    </JDBC>   
    <!--JDBC name="OracleAppender" tableName="APPLICATION_LOG">
      <ConnectionFactory class="jimmy.commons.ConnectionFactory" method="getOracleConnection" />
      <Column name="EVENT_ID" literal="SEQ_APPLICATION_LOG.nextval" />
      <Column name="EVENT_DATE" isEventTimestamp="true" />
      <Column name="EVENT_LEVEL" pattern="%level" />
      <Column name="LOGGER" pattern="%logger|%M" />
      <Column name="MESSAGE" pattern="%message" />
      <Column name="THROWABLE" pattern="%ex{full}" />
    </JDBC--> 
  </appenders>    
  <loggers>    
    <root level="trace">    
      <appender-ref ref="RollingFile"/>    
      <appender-ref ref="Console"/>   
      <appender-ref ref="filelog"/> 
      <appender-ref ref="MysqlAppender"/> 
    </root>    
  </loggers>    
</configuration> 